* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 221, 224);
  height: 100%;
  font-family: sans-serif, 'Tacoma';
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer-box {
  font-size: 20vw;
  margin-top: -15rem;
}


.buttons {
  height: auto;
  width: 15rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  margin: .5rem .2rem 0 .2rem;
  padding: 1rem;
}

.repsNumber {
  margin-top: 3rem;
  height: 28vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.repsNumber span {
  color: green;
  font-size: 15rem;
  padding-top: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 759px) {
  .repsNumber {
    flex-direction: column;
  }

  .repsNumber span {
    font-size: 10rem;
  }
}

.howManyLeftWrapper {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}


.timeLeftDisplay,
.howManyPullupsLeft,
.paceNeeded {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}

.buttonDiv {

  width: 20rem;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.howManyLeft {
  font-size: 1rem;
  margin: 0 auto;
  padding: .3rem;
}

.timeLeftDisplay {
  /* border: 1px solid red; */
  margin-top: 3px;

}

.howManyPullupsLeft {
  /* border: 1px solid green; */

}